{% load static %}

<!doctype html>
<html>
  <head>
    <title>E-Commerce Website</title>

    <!-- new -->
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
  </head>
  <body>
    <nav class="navbar">
      <h1>MyShop</h1>
    </nav>

    <section class="hero">
      <h2>Welcome to MyShop</h2>
      <a href="{% url 'home' %} " class="hover:text-yellow-400 transition-colors">Home</a>
      <p>Best products at best prices</p>
    </section>

    <section class="products">
      {% for product in products %}

      <div class="product-card">
        <img src="{{ product.image.url }}" />

        <h3>{{ product.name }}</h3>

        <p>$ {{ product.price }}</p>

        <a href="/product/{{ product.id }}/"> View Product </a>
      </div>

      {% endfor %}
    </section>

    <script src="{% static 'shop/js/script.js' %}"></script>
  </body>
</html>